body {
    align-content: center;
    background: #83a4d4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#input {
    margin-bottom: 10px;
}



.parent-img {
    list-style: none;
    position: relative;
    align-content: center;
    width: 50%;
    height: 350px;
    margin-bottom: 10px;
}

.meme-top {
    color: white;
    position: absolute;
    top: 5%;
    left: 35%;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
}

.meme-bottom {
    color: white;
    position: absolute;
    left: 35%;
    top: 85%;
    font-family: 'Montserrat', sans-serif;
    font-size: xx-large;
    font-weight: 800;
    -webkit-text-stroke: 2px black;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 555px;
    height: 350px;
}